
  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Su compra se ha realizado con éxito!</h1>
        <p class="lead text-center">Gracias por comprar en Zapatería del Sur</p>
        
        <div class="lead text-center">
             <a class="buy-now btn btn-sm btn-primary" href="/products">SEGUIR COMPRANDO</a>
              | <a class="buy-now btn btn-sm btn-primary" href="/">REGRESAR AL INICIO</a>
        </div>
    </div>
</div>

