<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/faviconn.ico" />
  <title>{{ title }} &mdash; Zapatería del Sur</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/css/js/jquery-3.3.1.js"></script>
    <link href="/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    <link href="/css/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet" />
    <link href="/css/vendor/owl.carousel/assets/owl.theme.default.css" rel="stylesheet" />
    <link href="/css/css/style.blue.css" rel="stylesheet" />
    <link href="/css/css/custom.css" rel="stylesheet" />
 
  {{!-- STYLES --}}
 
</head>

<body>
  
  {{>navigation}}
  {{>message}} 
  {{{ body }}}

   <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h4 class="mb-3">Paginas</h4>
                    <ul class="list-unstyled">
                        <li><a href="text.html">Inicio</a></li>
                        <li><a href="text.html">Productos</a></li>
                        <li><a href="text.html">Carrito de compras</a></li>
                    </ul>

                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">

                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">
                    <h4 class="mb-3">Nos ubicamos en</h4>
                    <p><strong>Zapatería del Sur.</strong><br />Calle 111 No.315<br>Santa Rosa<br><strong>97189 Mérida, Yuc.</strong></p>
                    <hr class="d-block d-md-none">
                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">
                    <h4 class="mb-3">Recibe noticias</h4>
                    <p class="text-muted">Ingrese tu correo para recibir los último en zapatos de Yucatán Sur</p>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control"><span class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary">Suscríbete!</button>
                            </span>
                        </div>
                        <!-- /input-group-->
                    </form>
                    <hr>
                    <h4 class="mb-3">Encuéntranos en</h4>
                    <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
                </div>
                <!-- /.col-lg-3-->
            </div>
            <!-- /.row-->
        </div>
        <!-- /.container-->
    </div>

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <p class="text-center text-lg-left">©2019 Zapatería del Sur.</p>
                </div>

            </div>
        </div>
    </div>

 
  

  {{!-- SCRIPTS --}}
  <script src="/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/css/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="/css/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/css/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
    <script src="/css/js/front.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>